
<div class="container-notas">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="notas">
        <h2 class="title-todasNotas">Todas las notas</h2>
        <div class="notas-traidas">
            <div  *ngIf="notas.length>0" class="mostrar-notas">
                <div class="nota" *ngFor="let nota of notas">
                    <!-- Contenido de la nota aquí -->
                    <p class="title-notas">{{nota.titulo}}</p>
                    <p class="contenido-notas">{{notas.contenido}}</p>
                    <p class="fecha-notas">{{formateDate(notas.createdAt)}}</p>
                    <div class="botones">
                        <button type="button" (click)="modificarNota(nota.id)">Modificar</button>
                        <button type="button" (click)="eliminarNota(nota.id)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="formulario">
        <!-- Tu formulario aquí -->
        <h3 class="crear-nota-title">Crear Nota</h3>
        <form class="form-nota" [formGroup]="notaForm" (ngSubmit)="crearNota()">
            <div>
                <label for="titulo" class="titulo">Título</label>
                <input type="text" id="titulo" formControlName="titulo" required>
            </div>
            <div>
                <label for="descripcion" class="descripcion">Descripción</label>
                <textarea id="descripcion" formControlName="descripcion" required></textarea>
            </div>
            <button type="submit" class="btn-nota">Crear Nota</button>
        </form>
    </div>
</div>

