/*ESTILOS DE LOGUI*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    
}

    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: var(--black-color);
        font-family: var(--font-family);
    }

    .container-login{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 800px;
        margin-top: 20px;
        background-color: var(--detail-color);
        border-radius: 10px;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
    }
    .centered-form {
        /* Ajusta estos valores según tus necesidades */
        width: 600px;
        max-width: 600px;
        justify-content: center;
        align-items: center;
        background-color: var(--black-color);
        color: var(--white-color);
    }
    .img-logo {
        text-align: center;
    }

    .img-logo img {
        max-width: 150px; /* Ajusta el tamaño de la imagen según tus necesidades */
        height: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 10px; /* Ajusta el radio de borde según tus preferencias */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

    }
    .title{
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        margin: 30px;
        text-align: center;
        margin: 20px;
        color: var(--white-color);
    }
    
    .inicio-sesion{
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .login{
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    
    .custom-form {
        min-width: 500px;
        max-width: 600px;
        padding: 2rem 3rem;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 10px;
        color: black;
        overflow: hidden;
        position: relative;
        /* background-color: rgba(250, 250, 250, 0.1); */
        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    
    .custom-form::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    
    .custom-form input {
        margin-bottom: 1rem;
        margin: 0 auto 1rem; 
        width: 100%;
        border-radius: 10px;
        padding: 1rem;
        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .input-group{
        color: var(--black-color);
    }

    .icons{
        position: relative;
        margin-right: 15px;
        margin-top: 15px;
    }
    
    .btn-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .custom-form button {
        
        text-transform: uppercase;
        letter-spacing: 0.15em;
        border: none;
        font-size: 0.875rem;
        font-weight: bold;
        width: 40%;
        margin-left: 20px;
        padding: 0.875rem 0.5rem;
        border-radius: 1.5rem;
        cursor: pointer;
        border: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    button[type="submit"],
    .register-btn {
        background-color: var(--detail-color);
        color: var(--white-color);
    }
    
    button[type="submit"]:hover,
    .register-btn:hover {
        background-color: var(--white-color);
        color: black;
    }
    .invalid-input {
        border-color: #ff0000; /* Red border for invalid input */
    }
