<section class="container-section">
    <div class="formulario">
        <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
        <p-card header="Modificar Nota" class="card-container">
            <form class="form-nota" [formGroup]="form">
                <div>
                    <label for="titulo" class="titulo">Título</label>
                    <input type="text" id="titulo" formControlName="titulo" required>
                </div>
                <div>
                    <label for="contenido" class="contenido">Descripción</label>
                    <textarea id="contenido" formControlName="contenido" required></textarea>
                </div>
            </form>
            <ng-template pTemplate="footer">
                <p-button [rounded]="true"  (onClick)="modificarNota()" styleClass="p-button-success" class="btn-nota"><i class="pi pi-check-circle"></i></p-button>
                <p-button [rounded]="true" (onClick)="cancelarNota()" styleClass="p-button-secondary" class="btn-nota"><i class="pi pi-times"></i></p-button>
            </ng-template>
        </p-card>
    </div>
</section>

