<section>
    <div class="sidebar" [ngClass]="{'expanded': isExpanded}">
        <button class="toggle-btn" (click)="toggleSidebar()"><i class="fa-solid fa-bars"></i></button>
        <button (click)="routerTo('/')"><i class="fa-solid fa-house"></i><span>Inicio</span></button>
        <button (click)="routerTo('/calendario')"><i class="fas fa-calendar-days"></i><span>Calendario</span></button>
        <button (click)="routerTo('/notas')"><i class="fas fa-sticky-note"></i><span>Notas</span></button>
        <button (click)="routerTo('/tareas')"><i class="fas fa-tasks"></i><span>Tareas</span></button>
        <button (click)="routerTo('/gastos')"> <i class="fas fa-money-bill"></i><span>Gastos</span></button>
        
    </div>
</section>

