/* You can add global styles to this file, and also import other style files */
/* styles.css */

/* styles.css */
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeicons/primeicons.css';








:root {
    /* * COLORES PRINCIPALES APLICACION*/
    --green-color: #C6D8D3;
    --beige-color: #C6D8D3;
    --white-color:#FAFAFA;
    --black-color: #2F3033;
    --gray-color:  #3A3335; 

    --font-family:'Roboto', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; 
    font-family: var(--font-family);/* Deshabilita el desplazamiento vertical */
}

.p-button {
    color: var(--black-color);
    background: var(--green-color);
    border: 1px solid var(--black-color);
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
}

.p-button:hover{
    color: var(--white-color);
    background-color: var(--green-color);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* 
Verde Medio Oscuro (principal): #006400
Gris (para texto): #595959
Azul Suave (para detalles o acentos): #A0C1D1
Beige (para resaltar): #F5F5DC */
