
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--black-color);
}

.filtros-container{
    display: flex;
    width: 350px;
    background-color: var(--white-color);
    border-radius: 15px;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align: center;
    padding: 10px;
    position: relative;
    left: 7%;
}

.title-filter{
    position: relative;
    justify-content: center;
}

.filtro-categoria input,
.filtro-precio input,
.filtro-fecha input {
    font-family: sans-serif; /* Use a clean sans-serif font */
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc; /* Use a subtle border color */
    border-radius: 4px; /* Slightly rounded corners */
    padding: 8px 12px;
    margin-bottom: 10px;
    background-color: transparent; /* Transparent background for a sleek look */
}

.filtro-categoria input,
.filtro-fecha input{
    margin-right: 15px;
    width: 90%;
}

.filtro-fecha input{
    width: 220px;
    margin-left: 30px;
}

.filtro-precio input{
    width: 40%;
    margin-left: 20px;
}

.filtro-precio select {
        margin-left: 5px;
        margin-bottom: 8px;
        font-family: sans-serif;
        font-size: 16px;
        color: #333;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 8px 12px;
        background-color: #fff;
        appearance: none; /* Elimina el estilo por defecto */
        -webkit-appearance: none; /* Safari */
        -moz-appearance: none; /* Firefox */
}
  /* Estilos al enfocar el input o el selector */
.filtro-precio input:focus,
.filtro-precio select:focus {
    border-color: #999;
    outline: none;
}

.filtro-categoria input:focus,
.filtro-precio input:focus,
.filtro-fecha input:focus {
    border-color: #999;
    outline: none; /* Remove default outline */
}

.filtro-categoria,
.filtro-precio,
.filtro-fecha {
    display: flex;
    align-items: center;
}

.filtro-categoria::before{
  content: "Categoría: ";  /* Change labels as needed */
    margin-right: 10px;
    font-weight: bold;
}
.filtro-precio::before{
    content: "Importe: ";  /* Change labels as needed */
    margin-right: 10px;
    font-weight: bold;
}

.filtro-fecha::before {
    content: "Fecha: ";  /* Change labels as needed */
    margin-right: 10px;
    font-weight: bold;
}


.container-gastos {
    background-color: var(--white-color);
    width: 700px;
    max-width: 800px;
    height: 600px;
    max-height: 600px;
    padding: 20px;
    border-radius: 10px;
}
.sidebar {
    overflow-y: auto; /* Esto permite el desplazamiento vertical */
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 10px;
}

.table-gastos{
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    margin: 20px; 
    margin: 0 auto;
    margin-bottom: 20px;
    height: auto;
    max-height: 400px;
    overflow-y: auto;

}
.table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.container-header{
    display:flex;
    justify-content: center;
}


.t-head{
    color: var(--white-color);
    background-color: var(--detail-color);
    justify-content: center;
    text-align: center;
    font-size: 16px;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.t-row-head,
.t-row-body {
    border-bottom: 1px solid #ddd;
    border-radius: 15px;
}



.th,
.td {
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.t-body{
    background-color: var(--white-color);
}

.t-row-body:nth-child(even) {
    background-color: #f2f2f2;
}

.title-gastos{
    text-align: center;
    
}
.container-btnCrear{
    display: flex;
    margin-left: 38%;
    margin-bottom: 40px;
}
.mostrar-modal{
    width: 160px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: var(--detail-color);
    border-radius: 15px;
    cursor: pointer;

}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.resumen-gastos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--detail-color);
    color: white;
}

.container-resumen{
    margin-bottom: 10px;
}

.title-gasto-resumen{
    font-size: 16px;
    font-family: var(--font-family);
}

#val-gastos {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
    width: 200px;
    text-align: center;
}


#val-gastos[readonly] {
    background-color: #f7f7f7;
    cursor: not-allowed;
}

#val-gastos::placeholder {
    color: #ccc;
}

label[for="val-gastos"] {
    font-weight: bold;
    margin-right: 10px;
}

.delete-all-gastos{
    margin-bottom: 10px;
}

.delete-all {
    background-color: #ff4444;
    color: #fff;
    border: 1px solid #ff0000;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.delete-all:hover {
    background-color: #dd3333;
    border-color: #bb0000;
}

.filter-input{
    display: flex;
    width: 150px !important;
    margin-bottom: 8px;
}

.select-filter-precio{
    z-index: 2;
}





