/* ESTILOS DE REGISTRO */
* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--beige-color);
    font-family: var(--font-family);
}

.container-register {
    width: 800px;
    margin-top: 110px;
    background-color: rgba(250, 250, 250, 0.7); /* Blanco con transparencia */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img-logo {
    text-align: center;
}

.img-logo img {
    max-width: 150px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px; /* Ajusta el radio de borde según tus preferencias */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    font-size: 3rem;
    margin: 30px;
    text-align: center;
    margin: 20px;
    color: var(--black-color);
}


.custom-form {
    min-width: 300px;
    min-width: 500px;
    max-width: 100%;
    padding: 1rem 3rem;
    margin: auto;
    border-radius: 10px;
    color: black;
    overflow: hidden;
    position: relative;
    background-color: rgba(250, 250, 250, 0.7);
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.custom-form::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}



.custom-form input {
    display: block;
    margin-bottom: 1rem;
    margin: 0 auto 1rem; /* Centrado vertical y margen inferior ajustado */
    width: calc(100% - 2rem);
    border-radius: 0.5rem;
    background: #ebf5fc;
    padding: 1rem;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    font-weight: bold;
    width: 40%;
    margin-left: 50px;
    padding: 0.875rem 0.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button[type="submit"],
.login-btn {
    background-color: var(--green-color);
        color: var(--white-color);
}

button[type="submit"]:hover,
.login-btn:hover {
    background-color: var(--black-color);
}




