
<div class="container">
    <div class="container-register">
        <h2 class="title">Organizator</h2>
        <div class="register">
            <form class="custom-form"  [formGroup]="registerForm">
                <h1>Registro</h1>
                <p-inputGroup class="input-group">
                    <i class="pi pi-user icons"></i>
                    <input pInputText placeholder="Nombre completo" type="text" formControlName="usu_nombre" name="nombre" required />
                </p-inputGroup>
                <p-inputGroup class="input-group">
                    <i class="pi pi-envelope icons"></i>
                    <input pInputText placeholder="Email" type="email" formControlName="usu_email" name="email" required />
                </p-inputGroup>
                
                <p-inputGroup class="input-group">
                    <i class="pi pi-unlock icons"></i>
                    <input pInputText placeholder="Contraseña" type="password" formControlName="usu_contraseña" name="contraseña" required />
                </p-inputGroup>
                <div class="btn-container">
                    <button type="submit" (click)="RegisterUser()">Registrarse</button>
                    <button class="login-btn" type="button" (click)="irAInicioSesion()">Iniciar Sesión</button>
                </div>
            
            </form>
        </div>
    </div>
</div>

